<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Npgsql" version="2.2.7" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.48" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.48" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.48" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="4.0.48" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.48" targetFramework="net45" />
  <package id="vtortola.WebSocketListener" version="2.1.9.0" targetFramework="net45" />
</packages>